/* General */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Sección Títulos */
.section-title {
    font-size: 24px;
    color: #2980b9;
}

/* Listas */
.list-unstyled li {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.list-group-item {
    background-color: #f7f9fc;
    border: none;
    border-left: 5px solid #2980b9;
    padding-left: 15px;
}

/* Botones */
.btn-primary {
    background-color: #2980b9;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #1a5980;
}

.bg-light {
    background-color: #f7f9fc !important;
}

img {
    border: 5px solid #2980b9;
}

/* Línea vertical */
.border-right {
    border-right: 1.5px solid #2980b9; /* Color y grosor de la línea */
    padding-right: 20px; /* Espacio a la derecha para evitar que el contenido toque la línea */
}
